@import "./password.variables";

/**
 * Used with JS PasswordRevealer to show/hide the text of a password field
 */
.password-revealer {
	align-items: center;
	color: $password-revealer-color;
	display: inline-flex;
	height: 100%;
	padding: 0 $password-revealer-padding-horizontal;

	&__icon {
		font-size: $password-revealer-size;
		height: 1em;
		width: 1em;
	}
}
