$input-background-color: #fff !default;
$input-border-color: #111 !default;
$input-border-radius: 3px !default;
$input-border-width: 1px !default;
$input-spacing-horizontal: 0.5em !default;
$input-spacing-vertical: 0.25em !default;

$input-border-color-focus: #ff7000 !default;
$input-shadow-focus: 0 0 5px rgba(0, 0, 0, .2) !default;
